<header> 
        
        <h1 id="titulo-p">My blog de etiquetas html</h1>
        <p  id="parrafo1">En esta pagina vamos a explicar varias de las etiquetas mas utilizadas en html</p>
        

    <nav>
  
    <nav>
  <ul>
    <li><a href="#" data-seccion="basicas">Básicas</a></li>
    <li><a href="#" data-seccion="texto">Texto</a></li>
    <li><a href="#" data-seccion="listas">Listas</a></li>
    <li><a href="#" data-seccion="formularios">Formularios</a></li>
    <li><a href="#" data-seccion="tablas">Tablas</a></li>
    <li><a href="#" data-seccion="multimedia">Multimedia</a></li>
    <li><a href="#" data-seccion="nosotros">Nosotros</a></li>
  </ul>
</nav>
    </nav>
</header>